<div class="index-container">
  <ul class="quotes-list">
    <% @quotes.each do |quote| %>
      <li>
        '<%= link_to quote.quote, quote_path(quote.id) %>'
        <%= quote.author %>
      </li>
    <% end %>
  </ul>


</div>


