// Specific CSS for your home-page
.home-container{
  margin-top: -20vh;
  text-align: center;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-container h1{
  font-size: 70px;
}

.home-container h2{
  font-size: 50px;

}

.home .btn-green{

  margin-top: 20px;
  position: fixed;
}

.home-container h2{
  margin: 30px 0px 40px 0px;
}

.home-container .btn-green{
  width: 300px;
  text-align: center;

}

.home-container a{
  color: rgba(184, 235, 208, 0.8);
}
