// Specific CSS for your home-page
.home-container{
  margin-top: 30vh;
  text-align: center;
}

.home-container h1{
  font-size: 60px;
}

.btn-green{
  font-size: 30px;
  padding: 20px 18px;
  background-color: rgba(19, 196, 163, 0.9);
  color: rgba(184, 235, 208, 0.8);
  border-radius: 4%;
}

.home-container h2{
  margin: 30px 0px 40px 0px;
}
