// Import page-specific CSS files here.
@import "home";
@import "show";

.index-container{
  margin: 8vh 10vw;
}

.quotes h1{
  margin: 30px 0px 30px 50px;
  font-weight: bolder;
  font-size: 46px;

}

.quotes-list{
  list-style-type: none;
}

.quotes-list li{
  margin: 30px 0px;
  text-decoration: none;

}

.quotes-list a{
  color: #13C4A3;
  font-size: 24px;
  font-weight: bold;
}

.quotes-list a:hover{
  letter-spacing: 0.8px;
  text-decoration: none;
  opacity: 0.8;
}
