.footer {
  background:  rgba(19, 196, 163, 1);
  height: 100px;
  padding: 30px 50px;
  color: rgb(184, 235, 208);
  bottom: 0px;
  width: 100%;
  opacity: 0.8;
  position: absolute;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.footer-links p{
  font-size: 28px;
}
.footer-links a {
  color: rgb(184, 235, 208);
  text-decoration: none;
  font-size: 30px;
}
.footer-links a:hover {
  opacity: 0.6;
  font-size: 31px;
}
.footer .fa-heart {
  color: #D23333;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .footer{
      padding: 5px 0px;
      display: flex;
      justify-content: center;
    }
    .footer .github-link, .linkedin-link{
          display: none;
    }
    .footer-links p{
     text-align: center;
     font-size: 16px;
    }
}
