.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon {
  justify-content: space-between;
  background:  rgba(19, 196, 163, 0.5);
  color: rgba(184, 235, 208, 1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
}

.navbar-lewagon li{
  margin: 0px 40px;

}

.nav-item a{
  color: rgba(184, 235, 208, 1) !important;
  font-size: 20px;
  font-weight: bolder;
}

.nav-item a:hover{
  color: white !important;
}

.navbar p{
  font-size: 30px;
  margin-left: 20px;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .nav-item a{
      display: none;
      // display: flex;
    }


}
