
// .navbar{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 1rem 1.5rem;
// }

// .hamburger{
//   display: none;
// }

// .bar{
//    display: block;
//     width: 25px;
//     height: 3px;
//     margin: 5px auto;
//     -webkit-transition: all 0.3s ease-in-out;
//     transition: all 0.3s ease-in-out;
//     background-color: rgba(19, 196, 163, 0.7);
// }

// .nav-menu {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

// .nav-menu li{
//   list-style-type: none;
// }

// .nav-item {
//     margin-left: 5rem;
// }

// .nav-link{
//     font-size: 1.6rem;
//     font-weight: 400;
//     color: rgba(184, 235, 208, 1);
// }

// .nav-link:hover{
//     opacity: 0.7;
// }

// .nav-logo {
//     font-size: 2.1rem;
//     font-weight: 500;
//     color: rgba(184, 235, 208, 1);
// }

// @media only screen and (max-width: 768px) {
//     .nav-menu {
//         position: fixed;
//         left: -100%;
//         top: 5rem;
//         flex-direction: column;
//         background-color: #fff;
//         width: 100%;
//         border-radius: 10px;
//         text-align: center;
//         transition: 0.3s;
//         box-shadow:
//             0 10px 27px rgba(0, 0, 0, 0.05);
//     }

//     .nav-menu.active {
//         left: 0;
//     }

//     .nav-item {
//         margin: 2.5rem 0;
//     }

//     .hamburger {
//         display: block;
//         cursor: pointer;
//     }

// }



.navbar-lewagon {
  justify-content: space-between;
  background:  rgba(19, 196, 163, 0.5);
  color: rgba(184, 235, 208, 1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
}

.navbar-lewagon li{
  margin: 0px 40px;

}

.nav-item a{
  color: rgba(184, 235, 208, 1) !important;
  font-size: 24px;
  font-weight: bolder;
}

.nav-item a:hover{
  color: white !important;
}

.navbar p{
  font-size: 50px;
  margin-left: 20px;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {




}
